<h1>Pipes <small>Angular</small></h1>
<hr>

<div class="row">
    <div class="col">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Variable</th>
                    <th>Pipe</th>
                    <th>Salida</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{nombre}}</td>
                    <td>uppercase</td>
                    <td>{{nombre | uppercase }}</td>
                </tr>

                <tr>
                    <td>{{nombre}}</td>
                    <td>lowercase</td>
                    <td>{{nombre | lowercase }}</td>
                </tr>

                <tr>
                    <td>{{nombre2}}</td>
                    <td>capitalizado (personalizado)</td>
                    <td>{{nombre2 | capitalizado:true }}</td>
                </tr>

                <tr>
                    <td>{{nombre}}</td>
                    <td>slice:3</td>
                    <td>{{ nombre | slice:3 }}</td>
                </tr>

                <tr>
                    <td>{{nombre}}</td>
                    <td>slice:0:3</td>
                    <td>{{ nombre | slice:0:3 }}</td>
                </tr>

                <tr>
                    <td>{{arreglo}}</td>
                    <td>slice:1:5</td>
                    <td>{{ arreglo | slice:1:5 }}</td>
                </tr>

                <tr>
                    <td>{{PI}}</td>
                    <td>number</td>
                    <td>{{ PI | number }}</td>
                </tr>

                <tr>
                    <td>{{PI}}</td>
                    <td>number - Entero -</td>
                    <td>{{ PI | number:'1.0-0' }}</td>
                </tr>

                <tr>
                    <td>{{PI}}</td>
                    <td>number - Entero - rellenado de ceros</td>
                    <td>{{ PI | number:'3.0-0' }}</td>
                </tr>

                <tr>
                    <td>{{PI}}</td>
                    <td>number todos los enteros, especificando la cantidad de decimales</td>
                    <td>{{ PI | number:'.0-2' }}</td>
                </tr>

                <tr>
                    <td>{{porcentaje}}</td>
                    <td>porcentaje</td>
                    <td>{{ porcentaje | percent }}</td>
                </tr>

                <tr>
                    <td>{{porcentaje}}</td>
                    <td>porcentaje con decimales</td>
                    <td>{{ porcentaje | percent:'2.2-2' }}</td>
                </tr>

                <tr>
                    <td>{{salario}}</td>
                    <td>currency</td>
                    <td>{{ salario | currency }}</td>
                </tr>

                <tr>
                    <td>{{salario}}</td>
                    <td>currency LOCAL</td>
                    <td>{{ salario | currency:'GTQ' }}</td>
                </tr>

                <tr>
                    <td>{{salario}}</td>
                    <td>currency LOCAL, solo simbolo</td>
                    <td>{{ salario | currency:'GTQ':'symbol-narrow' }}</td>
                </tr>

                <tr>
                    <td>{{valorPromesa}} 4.5 segundos</td>
                    <td>async</td>
                    <td>{{ valorPromesa | async}}</td>
                </tr>

                <tr>
                    <td>{{fecha}}</td>
                    <td>date:'medium'</td>
                    <td>{{ fecha | date:'medium'}}</td>
                </tr>

                <tr>
                    <td>{{fecha}}</td>
                    <td>date:'short'</td>
                    <td>{{ fecha | date:'short'}}</td>
                </tr>

                <tr>
                    <td>{{fecha}}</td>
                    <td>date:'MMMM - dd'</td>
                    <td>{{ fecha | date:'MMMM - dd'}}</td>
                </tr>

                <tr>
                    <td>{{fecha}}</td>
                    <td>date:'MMMM - dd':'':'en'</td>
                    <td>{{ fecha | date:'MMMM - dd':'':'en'}}</td>
                </tr>

                <tr>
                    <td>{{fecha}}</td>
                    <td>date:'MMMM - dd':'':'en'
                        <br>
                        <button (click)="idioma='es-GT'" class="btn btn-outline-primary mr-2">Español</button>
                        <button (click)="idioma='en'" class="btn btn-outline-secondary mr-2">Inglés</button>
                        <button (click)="idioma='fr'" class="btn btn-outline-dark mr-2">Francés</button>
                    </td>
                    <td>{{ fecha | date:'MMMM - dd':'':idioma}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<h3>JSON</h3>
<div class="row">
    <div class="col">
        <pre>
        {{ heroe | json }}
      </pre>
    </div>
</div>